<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="indigo lighten-2">
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "Forum", root_path, class: 'brand-logo' %>
          <ul class="right hide-on-med-and-down">
            <% if user_logged_in? %>
                <%= current_user.name %>
                <img src="<%= current_user.image_url %>" alt="">

                <li> <%= link_to "Sign out", sign_out_path  %> </li>
            <%else%>
                <li><a href="/auth/twitter">Sign in with Twitter</a></li>
            <%end%>

          </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
